.uploadDropArea:before {
    content: "";
    .box-sizing(content-box);
    position: absolute;
    height: 95px;
    width: 335px;
    top: 11px;
    left: 10px;
    background: url("@{image-path}/upload-droparea-box.png") no-repeat 0 0;
}

.uploadDropArea {
    height: 75px;
    width: 315px;
    margin: 10px;
    border-radius: 10px;
    
    padding-top: 28px;
    text-align: center;
    font-size: 16px;
    color: #c1f49a;
    font-family: "Arial narrow", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.uploadDropArea.over {
    background-color: #e3f3d2;
}

.uploadText {
    font-family: "Arial narrow", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    color: #B1E3F3;
    padding-bottom: 2px;
}

.txtUploadTargetFolder {
    font-size: 11px;
    color: #838383;
}

#fileUploadSelect {
    z-index: 9999;
    position: absolute;
    top: 123px;
    left: 99px;
    width: 181px;
    height: 24px;
    opacity: 0;
}

#fileUploadSelect.uploadWithFolders {
    left: 93px;
    width: 65px;
    height: 24px;
}

#folderUploadSelect {
    display: none;
    position: absolute;
    top: 123px;
    left: 188px;
    width: 152px;
    height: 24px;
    opacity: 0;
}

.uploadSelectButtons div {
    color: #ffffff;
}